$col-black: #483c32;
$col-white: #b7b19f;
$col-orange: #483c32;
$col-boulder: #2a2a2a;
$col-gray: #aaaaaa;
$font-bebas: "Bebas Neue", sans-serif;
$font-sauce: "Open Sauce", arial;
$gradient: #2e2e2e;
